.bounce {
  position:relative;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0% { top: 0; }
  50% { top:10px }
  100% { top:0 }
}

@keyframes bounce {
  0% { top: 0; }
  50% { top:10px }
  100% { top:0 }
}

.fade-in {
  animation: fade-in 0.3s ease;
  animation-fill-mode: forwards;
  -webkit-animation: fade-in 0.3s ease;
  -webkit-animation-fill-mode: forwards;        
}

@-webkit-keyframes fade-in {
  0%   { opacity: 0;}
  100% { opacity:1; }
}

@keyframes fade-in {
  0%   { opacity: 0;}
  100% { opacity:1; }
}

.fade-out {
  animation: fade-out 0.3s ease;
  animation-fill-mode: forwards;
  -webkit-animation: fade-out 0.3s ease;
  -webkit-animation-fill-mode: forwards;    
}

@-webkit-keyframes fade-out {
  0% { opacity:1; }
  100% {opacity: 0; }
}

@keyframes fade-out {
  0% { opacity:1; }
  100% {opacity: 0; }
}