// Colors
$darkest-gray: #363636;
$dark-gray: #585858;
$gray: #b2b2b2;
$light-gray: #dbdbdb;

$white: #fff;
$black: #000;

// Typography 
$font-family-1: serif;
$font-family-2: sans-serif;
$base-font-size: 18px;
$base-line-height: 1.5;
$base-color: $gray;
$base-link-color: $dark-gray;
$base-link-hover-color: $dark-gray;

// Margins and Padding
$space:1rem;